body {
    background-color: black;
    /*font-family: 'Irish Grover', cursive;*/
    color: white;
}

#fotoFundos {
    background-image: url("../Fotos/FundoIncial.png");
    height: 100%;
    background-repeat: no-repeat;
    margin: 0 11%;
}

.titulo {
    text-align: center;
}

.forms {
    margin: 5% 25%;
    text-align: center;
}


.input {
    background-color: white;
    border-radius: 25px;
    text-align: center;
    width: 8cm;
}

button {
    background-color: hotpink;
    border: 2px solid hotpink;
    border-radius: 25px;
    color: white;
    height: 1.2cm;
}

#something {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    column-count: 6;
    text-align: center;
    width: 20cm;
}

.caixaEstoque{
    margin: 5% auto;
    border: 8px groove green;
    margin-top: 25%;
}


#Estoque{
    margin-left: 45%;
    margin-top: 2%;
}

.lista{ /* VAI MECHER O QUE ESTA DENTRO DA LISTA */
    column-count: 2;
    text-align: center;
    margin: 2% auto;
}

.lista label{
    border: 2px double hotpink;
    width: 3cm;
}

.container {
    margin: 0 20%;
    
}