body {
    background-color: black;
    color: white;
    background-image: url("../Fotos/FundoIncial.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.titulo {
    text-align: center;
}

.forms {
    margin: 3% auto;
    text-align: center;
}


.input {
    background-color: white;
    border-radius: 25px;
    text-align: center;
    width: 8cm;
}



/* Borda do Menu */
.itensCadastrados{
    border: 2px solid lightgray;
    border-radius: 10px;
}
.itensCadastrados:hover{
    background-color: aqua;
}



/* Header */
.site {
    text-align: right;
    background-color: #efefef;
    position:relative
  } 
  .site a {
    color: #666;
    text-decoration: none;
  }
  .site a:hover {
    color: #222;
  }
  
  .site nav{
    position:absolute;
    top:0;
    left:0;
    background:#222;
    width:100%
  }
  .site nav a{
    padding:10px 30px;
    font-size:1.3em;
    display:inline-block
  }
  .site nav a:hover{
    background:#333;
    color:#fff
  }